<form action="#" method="post">
    <h2> Porfavor ingrese sus datos y tipo de cuenta. </h2>
    <fieldset>
    <label>Rut: <input type="text" name="id" id="rut"></label>
    <p>seleccione su area: <br>
        <select>
            <option>recursos humanos</option>
            <option>Finanzas</option>
            <option>Direccion</option>
            <option>Marketing</option>
            <option>Operaciones</option>
        </select>
    </p>
</form>
