<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    Acceso Denegado
                </div>
                <div class="card-body">
                    <h5 class="card-title">No tienes permiso para acceder a esta sección</h5>
                    <p class="card-text">Por favor, contacta al administrador si crees que esto es un error.</p>
                    <a href="/logout" class="btn btn-primary">Cerrar Sesión y volver a inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
