<div class="card p-4 shadow mb-4">
  <h2>Bienvenido,{{usuario.nombre}}</h2>
  <p>Panel de usuario.</p>
</div>

<div class="row mt-4">
  <!-- Marcar -->
  <div class="col-md-4 mb-3">
    <div class="card text-bg-primary p-3 text-center shadow-sm">
      <h5>Marcar asistencia</h5>
      <a href="" class="btn btn-light w-100 mt-2">Marcar</a>
    </div>
  </div>

  <!-- asistencias -->
  <div class="col-md-4 mb-3">
    <div class="card text-bg-success p-3 text-center shadow-sm">
      <h5>Ver mis asistencias</h5>
      <a href="" class="btn btn-light w-100 mt-2">Ver</a>
    </div>
  </div>

  <!-- Justificar  -->
  <div class="col-md-4 mb-3">
    <div class="card text-bg-warning p-3 text-center shadow-sm">
      <h5>Justificar inasistencia</h5>
      <a href="" class="btn btn-light w-100 mt-2">Subir licencia</a>
    </div>
  </div>
</div>